.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
  font-family: 'Roboto';
}

.login-form-container {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  width: 400px;
  padding: 40px;
  border-radius: 10px;
}

.website-logo {
  align-self: center;
  height: auto;
  width: 120px;
  margin-bottom: 45px;
}

.login-form-label {
  color: white;
  font-size: 15px;
  margin-bottom: 10px;
}

.login-form-input {
  border-style: solid;
  border-width: 1.4px;
  border-radius: 5px;
  border-color: #cbd5e1;
  background-color: transparent;
  color: #cbd5e1;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
}

.login-form-button {
  border-style: none;
  background-color: #4f46e5;
  color: white;
  width: 100%;
  padding: 8px;
  cursor: pointer;
  border-radius: 7px;
  margin-top: 10px;
}